{% extends "base.html" %}

{% block title %}Edit your account{% endblock %}

{% block content %}
<h1 class="row col-12 my-0 py-2">Профиль</h1>
<div class="row col-12 my-0 py-2">
    <div class="col-md-4 col-lg-2 px-2 py-2">
        <div class="card ">
            <div class="card-body">
                {% if request.user.profile.photo %}
                <img src="/media/{{request.user.profile.photo}}" class="col-12">
                <p>Текущее фото</p>
                {% else %}
                У тебя еще нет фото!
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-6 px-2 py-2">
        <div class="card ">
            <div class="card-body">
                <form action="." method="post" enctype="multipart/form-data">
                    {% for field in user_form %}
                    <div class="w-100">
                        <div>{{ field.label_tag }}</div>
                        <div>{{ field }}</div>
                    </div>
                    {% endfor %}
                    {% for field in profile_form %}
                    <div class="w-100">
                        <div>{{ field.label_tag }}</div>
                        <div>{{ field }}</div>
                    </div>
                    {% endfor %}
                    {% csrf_token %}
                    <input class="btn btn-success my-2" type="submit" value="Save changes">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}