{% extends "base.html" %}
{% block title %}Выход{% endblock %}
{% block content %}

<h1 class="row col-12 my-0 py-2">Вы успешно вышли из системы.</h1>
    <p> Вы можете войти
        <a href="{% url 'login' %}">снова</a>.
    </p>
{% endblock %}