{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}


<h1 class="row col-12 my-0 py-2">Вход</h1>

{% if form.errors %}
<p class="row col-12 my-0 py-2">
    Ваше имя пользователя и пароль не совпадают.
    Пожалуйста, попробуйте еще раз.
</p>
{% else %}
<p class="row col-12 my-0 py-2">
    Пожалуйста, используйте следующую форму для входа в систему.
</p>
<p>
    Если у вас нет учетной записи, зарегистрируйтесь
    <a href="{% url 'register' %}">здесь.</a>
</p>
{% endif %}
<div class="row col-12 my-0 py-2">
    <div class="col-col-md-6 col-lg-4 px-2 py-2">
        <div class="card ">
            <div class="card-body">
                <form action="{% url 'login' %}" method="post">
                    <div class="form-group">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}"/>
                        <p><input class="btn btn-info" type="submit" value="Войти"></p>
                        <a class="btn btn-secondary" href="{% url 'social:begin' 'github' %}">Войти через github</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    {% endblock %}