{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
<h1 class="row col-12 my-0 py-2">Создание аккаутна</h1>
<div class="row col-12 my-0 py-2">
    <div class="col-col-md-4 col-lg-4 px-2 py-2">
        <div class="card ">
            <div class="card-body">
                <form action="." method="post">
                    {% for field in user_form %}
                    <div class="w-100">
                        <div>{{ field.label_tag }}</div>
                        <div>{{ field }}</div>
                    </div>
                    {% endfor %}
                    {% csrf_token %}
                    <input class="btn btn-success my-2" type="submit" value="Создать аккаунт">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}