{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<h1 class="row col-12 my-0 py-2">Привет, {{ new_user.first_name }}!</h1>

<p class="row col-12 my-0 py-2">
    Твой аккаунт успешно зарегистрирован!.
</p>
<p class="row col-12 my-0 py-2">
   Теперь ты можешь &nbsp; <a href="{% url 'login' %}">войти</a>
</p>

{% endblock %}