{% extends "base.html" %}
{% load custom_filters %}
{% block title %}Все тесты{% endblock %}

{% block content %}
{% if all_quiz%}

<h1 class="row col-12 my-0 py-2">Выбирай викторину:</h1>
{% else %}
<h1 class="row col-12 my-0 py-2">Ничего не найдено.</h1>
{% endif %}
<div class="col-col-md-6 col-lg-4 px-2 py-2">
    <div class="card ">
        <div class="card-body">
            <form class="" action="{% url 'all_quiz' %}">
                <div class="form-group mb-0">
                    <label for="search_query">Поиск по названию</label>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                           name="search_query" value="{{request.GET.search_query}}">
                    <small id="emailHelp" class="form-text text-muted mb-0">Введите название теста или его часть</small>
                </div>
                <div class="form-check my-2">
                    <input type="checkbox" name="not_show_completed" class="form-check-input"
                           {% if request.GET.not_show_completed %}
                           checked
                           {% endif %}>
                    <label class="form-check-label">Не показывать пройденные</label>
                </div>
                <div class="form-group">
                    <p class="mb-0">Сортировка по дате</p>
                    <select class="form-control form-control-sm" name="sort_by_date_type">
                        <option selected value="">От старых к новым</option>
                        <option
                                {% if request.GET.sort_by_date_type == 'desk' %}
                                    selected
                                {% endif %}
                                value="desk">От новых к старым
                        </option>
                    </select>
                </div>
                <button class="btn  btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
{% for quiz in all_quiz %}
<div class="col-col-md-6 col-lg-4 px-2 py-2">
    <div class="card ">
        <div class="card-body">
            <h5 class="card-title">
                {{quiz.title}}
            </h5>
            <p class="card-text">
                {{quiz.about|truncatewords:15}}
            </p>
            <p class="blockquote-footer">
                Автор: {{quiz.author_profile.user.username}}<br>
                Выложено: {{quiz.pub_date|date:"d.m.Y H:i"}}<br>
                Кол-во прохождений: {{quiz.count_passes}}
            </p>
            {% if request.user.is_authenticated %}
            {% with result=quiz|get_results_dict:request.user.profile.id %}
            {% if result != ''%}
            <div class="alert alert-success" role="alert">
                <p>Пройдено!</p>
                <p class="mb-0">Результат: {{result.percent}}%
                    ({{result.correct_answer_count}}/{{result.questions_count}})</p>
            </div>
            {% endif %}
            {% endwith %}
            {% endif %}

            <p>
                <a href="{% url 'read_quiz' quiz_id=quiz.pk %}" class="btn btn-primary">Детальнее</a>
            </p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}