{% extends "base.html" %}

{% block title %}Создай собственную викторину!{% endblock %}

{% block content %}
<h1 class="row col-12 my-0 py-2">Создай собственную викторину!</h1>
<p class="row col-12 my-0 py-2">Заполни форму внизу:</p>
<div class="d-flex justify-content-center">
    <form action="." method="post" enctype="multipart/form-data" id="quizForm" class="px-3 col-8">
        {% csrf_token %}
        {{ question_formset.management_form }}
        {{ question_formset.non_form_errors }}
        {% for field in quiz_form %}
        {% if not field.is_hidden %}
        <div class="my-2">{{ field.label_tag }}</div>
        <div class="my-2">{{ field }}</div>
        {% endif %}
        {% endfor %}

        {% for question_form in question_formset.forms %}
        <div class="form-container mt-3">
            <div class="row px-0 bg-light rounded">
                <div class="row col-12 question my-3">
                    <div class="col-12">
                        <div>{{ question_form.as_p }}</div>

                    </div>
                </div>
                <div class="row col-12 answers ml-3 my-3">
                    {% if question_form.nested %}
                    {{ question_form.nested.management_form }}
                    {{ question_form.nested.non_form_errors }}

                    {% for choice_form in question_form.nested.forms %}
                    <div class="col-3">
                        {% for field in choice_form %}
                        <div class="w-100">
                            {% if not field.is_hidden %}
                            <div>{{ field.label_tag }}</div>
                            <div>{{ field }}</div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="my-3">
            <button type="submit" class="btn btn-outline-success" value="Сохранить">Сохранить</button>
        </div>
    </form>
</div>
{% endblock %}