{% extends "base.html" %}

{% block title %}Все тесты{% endblock %}

{% block content %}
<h1 class="row col-12 my-0 py-2">Отвечай на вопросы:</h1>
    {{ answers }}
     <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <ul>
            {{ passing_quiz_form.as_ul }}
        </ul>
        <p><input type="submit" value="Сохранить"></p>
     </form>
{% endblock %}