{% extends "base.html" %}


{% block title %}{{quiz.title}}{% endblock %}
{% load custom_filters %}
{% block content %}
<h1 class="row col-12 my-0 py-2">{{quiz.title}}</h1>
<p class="row col-12 my-0 py-2">{{quiz.about}}</p>

{% if request.user.is_authenticated %}
    {% with result=quiz|get_results_dict:request.user.profile.id %}
    {% if result != '' %}
        <div class="alert alert-success" role="alert">
            <p>Пройдено!</p>
            <p class="mb-0">Результат: {{result.percent}}% ({{result.correct_answer_count}}/{{result.questions_count}})</p>
        </div>
            <p class="row col-12 blockquote-footer">
                Кол-во прохождений: {{quiz.count_passes}}
            </p>
    {% else %}
        <p class="row col-12 my-0 py-2">Вы еще не проходили эту викторину</p>
        <a href="{% url 'passing_quiz' quiz_id=quiz.id %}" class="btn btn-primary">Пройти</a>
    {% endif %}
{% endwith %}
{% else %}
 <h4 class="row col-12 my-0 py-2">Только авторизированные пользователи могут проходить викторины и оставлять коммментарии.
    <p>Вы можете войти <a href="{% url 'login' %}">тут</a>.</p>
 </h4>
{% endif %}

{% if comments %}
<h2 class="row col-12 my-0 py-2">Комментарии:</h2>
    {% for comment in comments %}
        <div class="row col-12 my-2">
            <div class="col-12">
                <img src="/media/{{comment.author_profile.photo}}" class="mr-3" height="60px" width="45px" alt="">
                <h5 class="mt-0">
                <strong>{{ comment.author_profile.user.username }}</strong>
                {{ comment.pub_date|date:"d.m.Y" }}
                </h5>
                <p>{{ comment.text|safe }}</p>
            </div>
        </div>
    {% endfor %}

{% else %}
<h2 class="row col-12 my-0 py-2">Комментариев нет.</h2>
{% endif%}

{% if request.user.is_authenticated and comment_form %}
    <h4 class="row col-12 my-0 py-2">Оставить комментарий</h4>
    <form action="{% url 'add_comment' quiz_id=quiz.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
        <ul> {{comment_form.as_p}}</ul>

         <input class="btn btn-secondary mb-4" type="submit" value="Добавить">
    </form>
{% endif %}
{% endblock %}
