<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
<nav class="navbar bg-warning ">
    {% if request.user.is_authenticated %}
    <span>
         Привет, {{ request.user.username }}
    </span>
    <span>
        <a href="{% url 'edit_profile' %}">Профиль</a>

    </span>

    {% endif %}
    <span>
        <a href="{% url 'all_quiz' %}">Все викторины</a>
    </span>
    {% if request.user.is_authenticated %}
    <span>
        <a href="{% url 'create_quiz' %}">Создать свою</a>
    </span>
    {% endif %}
    <span class="user">
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">Выход</a>
        {% else %}
            <a href="{% url 'login' %}">Войти</a>
        {% endif %}
    </span>
</nav>
<div class="container">
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/jquery.formset.js"></script>
<script type="text/javascript">
    $(function() {
        $('.form-container').formset({
            prefix: '{{ question_formset.prefix }}'
        });
    })


</script>
</body>
</html>
